body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    }
    div.card{
    background-color: #000000d0;
    padding: 2em;
    color: white;
    border-radius: 30px;
    max-width: 420px;
    margin: 1em;
    }
    div.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    }
    button{
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 46px;
        width: 46px;
        outline: none;
        background-color: #7c7c7c2b;
        color: white;
        cursor: pointer;
        transition:.02s ease-in-out ;
    }
    button:hover{
    
    background:#7c7c7c6b ;
    
    }
    input.search-bar{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% -100px);
    
    }
    h1.temp{
        margin: 0;
    }
    .description{
        text-transform: capitalize;
    }
    .flex{
        display: flex;
        align-items:center;
    }
    html { 
        background: url(land.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      iframe{
          margin-right: 600px;
          margin-bottom: 600px;
      }
      /* style.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .clock {
    margin-top: 60px; /* Adjust as needed */
    margin-left: 580px;
  }
  
  .card {
    background-color: #000000d0;
    padding: 2em;
    color: white;
    border-radius: 30px;
    max-width: 420px;
    margin: 0 auto; 
  }
  
